<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Qtrip Test Cases Suite" parallel="false">
    <test name="Qtrip Test Cases">
        <packages>
            <package name="qtriptest.tests" />
        </packages>
        <groups>
            <run>
                <include name="Login Flow" />
                <include name="Search and Filter flow" />
                <include name="Booking and Cancellation Flow" />
                <include name="Reliability Flow" />
            </run>
        </groups>
    </test>
</suite>